<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <div class="hero">

    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-img">

    <h1>WELCOME TO GS LIBRARY</h1>

    <p>Knowledge • Discipline • Success</p>

    <a href="/login" class="btn">Student Login</a>

</div>

</head>

<body>

<!-- Navigation -->

<div class="navbar">

<div class="logo">
    <img src="{{ url_for('static', filename='css/images/gs.jpeg') }}" alt="GS Library Logo">
    <span>GS Library</span>
</div>

    <div class="menu">

        <a href="/">Home</a>
        <a href="/login">Student Login</a>
        <a href="/students">Students</a>
        <a href="/books">Books</a>

    </div>

</div>

<!-- Header -->

<div class="header">

    <h1>WELCOME TO GS LIBRARY</h1>

    <p>Knowledge | Discipline | Success</p>

</div>

<!-- Main Card -->

<div class="card">

    <h2>Why Choose Our Library?</h2>

    <p>✔ Peaceful Environment</p>

    <p>✔ High Speed WiFi</p>

    <p>✔ Daily Newspaper</p>

    <p>✔ Air Cooling</p>

    <p>✔ Silent Study Zone</p>

    <hr>

    <h2>Library Timing</h2>

    <p>Morning : 6:00 AM - 12:00 PM</p>

    <p>Evening : 2:00 PM - 10:00 PM</p>

    <hr>

    <h2>Contact Us</h2>

    <p><b>📍 Address :</b> Your Library Address</p>

    <p><b>👨 Director :</b> Gautam Sir</p>

    <p><b>📞 Mobile :</b> 9876543210</p>

    <p><b>📧 Email :</b> gslibrary@gmail.com</p>

    <br>

<div style="margin-top:30px;">

    <a class="btn" href="/new-registration">
        New Student Registration
    </a>

    <br><br>

    <a class="btn" href="/login">
        Student Login
    </a>


</div>
</div>

<br><br>

<a class="btn" href="/admin">

Admin Login

</a>

<!-- Footer -->

<div class="footer">

    <h3>GS Library</h3>

    <p>Director : Gautam Sir</p>

    <p>© 2026 All Rights Reserved</p>

</div>

</body>

</html>