<!DOCTYPE html>
<html>

<head>

    <title>Student Login</title>

</head>

<body>

<h2>Student Login</h2>

<form method="POST">

    <label>Mobile Number</label>

    <br>

    <input type="text"
           name="mobile"
           required>

    <br><br>

    <label>Password</label>

    <br>

    <input type="password"
           name="password"
           required>

    <br><br>

<a href="/forgot">Forgot Password?</a>

    <button type="submit">

        Login

    </button>

</form>

</body>

</html>